.hero{

min-height:90vh;

display:flex;

align-items:center;

justify-content:center;

padding:120px 10%;

background:
linear-gradient(rgba(17,33,71,.80),rgba(17,33,71,.80)),
url("https://images.unsplash.com/photo-1497366754035-f200968a6e72?auto=format&fit=crop&w=1800&q=80");

background-size:cover;

background-position:center;

color:white;

}

.hero-container{

display:flex;

align-items:center;

justify-content:center;

gap:70px;

max-width:1300px;

flex-wrap:wrap;

}

.hero-image img{

width:300px;

height:300px;

border-radius:50%;

object-fit:cover;

border:8px solid #C9A227;

box-shadow:0 15px 40px rgba(0,0,0,.35);

}

.hero-content{

max-width:700px;

}

.hero h1{

font-size:64px;

margin-bottom:15px;

}

.hero h2{

font-size:34px;

color:#C9A227;

margin-bottom:20px;

}

.designation{

font-size:24px;

margin-bottom:20px;

}

.summary{

font-size:19px;

line-height:1.8;

margin-bottom:35px;

color:#F2F2F2;

}

.stats{

display:flex;

gap:25px;

margin-bottom:40px;

flex-wrap:wrap;

}

.stat{

background:rgba(255,255,255,.10);

padding:18px 25px;

border-radius:12px;

text-align:center;

backdrop-filter:blur(8px);

}

.stat h3{

font-size:28px;

color:#C9A227;

margin-bottom:8px;

}

.stat span{

font-size:15px;

color:white;

}
